<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.active.services.cart.repository.mapper.AdHocDiscountMapper">

    <insert id="createAdHocDiscounts">
        INSERT INTO [dbo].[ad_hoc_discounts]
        (
        [identifier],
        [cart_item_id],
        [discount_name],
        [discount_keyer_id],
        [discount_amount],
        [discount_coupon_code],
        [discount_group_id],
        [created_by],
        [created_dt],
        [modified_by],
        [modified_dt]
        )
        VALUES
        <foreach item="item" collection="list" separator=",">
            (
            #{item.identifier},
            #{item.cartItemId},
            #{item.discountName},
            #{item.discountKeyerId},
            #{item.discountAmount},
            #{item.discountCouponCode},
            #{item.discountGroupId},
            #{item.createdBy},
            #{item.createdDt},
            #{item.modifiedBy},
            #{item.modifiedDt}
            )
        </foreach>
    </insert>
    <delete id="deleteAdHocDiscountByCartItemId">
        DELETE FROM [dbo].[ad_hoc_discounts] WHERE cart_item_id IN
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>