<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.active.services.cart.repository.mapper.CartItemFeeMapper">
    <delete id="deleteCartItemFeeById">
        DELETE cart_item_fees
        FROM cart_item_fees a
        LEFT JOIN cart_item_cart_item_fees b ON a.id=b.cart_item_fee_id
        LEFT JOIN cart_items c on c.id=b.cart_item_id
        LEFT JOIN carts d on d.id=c.cart_id
        WHERE d.id = #{id}
    </delete>

    <insert id="createCartItemFee" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO [dbo].[cart_item_fees]
        (identifier,
        parent_id,
        name,
        description,
        type,
        transaction_type,
        units,
        unit_price,
        due_amount,
        created_by,
        created_dt,
        modified_by,
        modified_dt)
        VALUES
        (#{identifier},
        #{parentId},
        #{name},
        #{description},
        #{type},
        #{transactionType},
        #{units},
        #{dueAmount},
        #{unitPrice},
        #{createdBy},
        #{createdDt},
        #{modifiedBy},
        #{modifiedDt}
        )
    </insert>

    <insert id="createCartItemCartItemFee" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO [dbo].[cart_item_cart_item_fees]
        (identifier,
        cart_item_id,
        cart_item_fee_id,
        created_by,
        created_dt,
        modified_by,
        modified_dt
        )
        VALUES
        (#{identifier},
        #{cartItemId},
        #{cartItemFeeId},
        #{createdBy},
        #{createdDt},
        #{modifiedBy},
        #{modifiedDt}
        )
    </insert>

    <select id="getCartItemFeesByCartId" resultType='com.active.services.cart.domain.CartItemFeesInCart'>
        SELECT
        fee.identifier       AS identifier,
        fee.id               AS id,
        fee.parent_id        AS parent_id,
        fee.name             AS name,
        fee.description      AS description,
        fee.type             AS type,
        fee.transaction_type AS transaction_type,
        fee.units            AS units,
        fee.unit_price       AS unit_price,
        fee.due_amount       AS due_amount,
        i.id                 AS cart_item_id
        FROM dbo.carts c LEFT JOIN
        dbo.cart_items i ON c.id=i.cart_id
        LEFT JOIN
        dbo.cart_item_cart_item_fees map ON map.cart_item_id=i.id
        LEFT JOIN dbo.cart_item_fees fee ON map.cart_item_fee_id = fee.id
        WHERE c.id = #{id}
    </select>



</mapper>
