<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.active.services.cart.repository.mapper.CartDiscountMapper">
    <insert id="batchInsertDiscount" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO [dbo].[cart_discounts]
        (identifier,
        cart_id,
        name,
        description,
        amount,
        amount_type,
        discount_id,
        discount_type,
        coupon_code,
        algorithm,
        apply_to_becurring_billing,
        origin,
        created_by,
        created_dt,
        modified_by,
        modified_dt)
        VALUES
        <foreach item="item" collection="list" separator=",">
        (#{item.identifier},
        #{item.cartId},
        #{item.name},
        #{item.description},
        #{item.amount},
        #{item.amountType},
        #{item.discountId},
        #{item.discountType},
        #{item.coupon_code},
        #{item.algorithm},
        #{item.applyToRecurringBilling},
        #{item.origin},
        #{item.createdBy},
        #{item.createdDt},
        #{item.modifiedBy},
        #{item.modifiedDt}
        )
        </foreach>
    </insert>

    <select id="getDiscountByDiscountIdAndType" resultType='com.active.services.cart.domain.Discount'>
        SELECT
        identifier,
        cart_id,
        name,
        description,
        amount,
        amount_type,
        discount_id,
        discount_type,
        coupon_code,
        algorithm,
        apply_to_becurring_billing,
        origin,
        created_by,
        created_dt,
        modified_by,
        modified_dt
        FROM dbo.cart_discounts
        WHERE
        discount_type = #{discountType}
        AND discount_id = #{discountId}
    </select>

</mapper>
